<div (mouseover)="this.isOpen= false">
    <div class="container text-center" style="padding-top: 200px;">
        <span style="font-size: 27px; font-weight: 200;">Experience</span>
        <hr>
    </div>

    <div class="container text-center">
        <div (appear)="onAppear()" class="row justify-content-md-center">
            <div class="col col-3" [@leftRight]="isOpen ? 'left' : 'right'">
                <span style="font-size: 13px; font-weight: 600;">2023 - Present</span>
                <br>
                <span style="font-size: 13px; font-weight: 300;">Associate Solutions Engineer</span>
            </div>
            <div class="col col-1">
                <div class="vl text-center"></div>
                <span class="dot" [@downUp]="isOpen ? 'down' : 'up'"></span>
            </div>
            <div class="col col-5" [@rightLeft]="isOpen ? 'right' : 'left'">
                <span style="font-size: 13px; font-weight: 400;">Thomson Reuters</span>
                <hr>
                <span style="font-size: 12px; font-weight: 300;">As an Implementation Solution Engineer, I
                    specialize in crafting seamless connections between
                    systems
                    using Restful and SOAP APIs. With a passion for technology and a knack for problem-solving, I've
                    honed
                    my skills in designing, developing, and maintaining robust integration solutions. My experience
                    in
                    programming languages allows me to tackle complex challenges head-on. I'm committed
                    to delivering high-quality integrations that enhance efficiency and drive business
                    success.</span>
            </div>
        </div>
        <br>
        <div class="row justify-content-md-center">
            <div class="col col-3" [@leftRight]="isOpen ? 'left' : 'right'">
                <span style="font-size: 13px; font-weight: 600;">2017 - 2023</span>
                <br>
                <span style="font-size: 13px; font-weight: 300;">Support Analyst</span>
            </div>
            <div class="col col-1">
                <div class="vl text-center"></div>
                <span class="dot" [@downUp]="isOpen ? 'down' : 'up'"></span>
            </div>
            <div class="col col-5" [@rightLeft]="isOpen ? 'right' : 'left'">
                <span style="font-size: 13px; font-weight: 400;">Tyler Technologies</span>
                <hr>
                <span style="font-size: 12px; font-weight: 300;">As a Support Analyst, I effectively resolved client
                    inquiries and problems across phone, web,
                    and email channels. My contributions extended beyond direct support to include automating tasks
                    using LeapWork, maintaining our company's knowledge base, and updating client configurations
                    using T-SQL. Additionally, I played a vital role in developing internal tools to streamline
                    support processes and enhance web form functionality.</span>
            </div>
        </div>

        <br>

        <div class="row justify-content-md-center">
            <div class="col col-3" [@leftRight]="isOpen ? 'left' : 'right'">
                <span style="font-size: 13px; font-weight: 600;">2016 - 2017</span>
                <br>
                <span style="font-size: 13px; font-weight: 300;">Warehouse Manager</span>
            </div>
            <div class="col col-1">
                <div class="vl text-center"></div>
                <span class="dot" [@downUp]="isOpen ? 'down' : 'up'"></span>
            </div>
            <div class="col col-5" [@rightLeft]="isOpen ? 'right' : 'left'">
                <span style="font-size: 13px; font-weight: 400;">Elliott Electric Supply</span>
                <hr>
                <span style="font-size: 12px; font-weight: 300;">As a Warehouse Manager, I demonstrated strong
                    leadership skills by fostering effective
                    communication and collaboration among team members. I actively reviewed and improved existing
                    policies and procedures to enhance efficiency and compliance. My responsibilities also included
                    managing budgets, planning staffing needs, and overseeing project teams to ensure timely
                    completion, quality standards, and a safe working environment.</span>
            </div>
        </div>

        <br>

        <div class="row justify-content-md-center">
            <div class="col col-3" [@leftRight]="isOpen ? 'left' : 'right'">
                <span style="font-size: 13px; font-weight: 600;">2008 - 2016</span>
                <br>
                <span style="font-size: 13px; font-weight: 300;">Aviation Ordnance technician</span>
            </div>
            <div class="col col-1">
                <div class="vl text-center"></div>
                <span class="dot" [@downUp]="isOpen ? 'down' : 'up'"></span>
            </div>
            <div class="col col-5" [@rightLeft]="isOpen ? 'right' : 'left'">
                <span style="font-size: 13px; font-weight: 400;">United States Marine Corps</span>
                <hr>
                <span style="font-size: 12px; font-weight: 300;">As an Aviation Ordnance Technician, I played a
                    crucial role in maintaining quality control
                    standards. I closely monitored the performance of quality control systems to ensure their
                    effectiveness and efficiency. My responsibilities also included overseeing the work of
                    supervisors, inspectors, and other team members. I regularly reviewed
                    operating procedures and quality assurance manuals to maintain compliance. Additionally, I
                    ensured that all necessary quality documentation was prepared for regulatory submissions and
                    inspections.</span>
            </div>
        </div>


    </div>

</div>

<div>