<div class="text-center child2 bg-color skills" style="padding: 20px;" (appear)="onAppear()">
    <div class="container" style="width: 30%;">
        <span style="font-size: 27px; font-weight: 200;">Skills</span>
    </div>
</div>

<div style="padding-bottom: 8px;">
    <img src="coding.jpg" class="img-fluid parent brightness" alt="coding">

    <div class="container text-center child1">
        <div class="container text-center">
            <div class="row g-3">
                <div class="col-4">
                    <div class="p-3 col-card" [@leftRight]="isOpen ? 'left' : 'right'">SQL</div>
                </div>
                <div class="col-4">
                    <div class="p-3 col-card" [@leftRight]="isOpen ? 'left' : 'right'">CRM</div>
                </div>
                <div class="col-4">
                    <div class="p-3 col-card" [@leftRight]="isOpen ? 'left' : 'right'">Various Programing Languages
                    </div>
                </div>
                <div class="col-4">
                    <div class="p-3 col-card" [@leftRight]="isOpen ? 'left' : 'right'">JIRA</div>
                </div>
                <div class="col-4">
                    <div class="p-3 col-card" [@leftRight]="isOpen ? 'left' : 'right'">Communication</div>
                </div>
                <div class="col-4">
                    <div class="p-3 col-card" [@leftRight]="isOpen ? 'left' : 'right'">Problem Solving</div>
                </div>
                <div class="col-4">
                    <div class="p-3 col-card" [@leftRight]="isOpen ? 'left' : 'right'">Angular</div>
                </div>
                <div class="col-4">
                    <div class="p-3 col-card" [@leftRight]="isOpen ? 'left' : 'right'">NodeJS</div>
                </div>
                <div class="col-4">
                    <div class="p-3 col-card" [@leftRight]="isOpen ? 'left' : 'right'">RESTful API</div>
                </div>
            </div>
        </div>
    </div>


</div>