<!-- <app-topnav></app-topnav> -->
<nav class="navbar navbar-expand-lg bg-color sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" style="font-size: 32px; font-weight: 300; color: rgb(2, 9, 113);" href="#home">Casey
            Gann</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav" style="font-size: 20px; font-weight: 200;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#experience"
                        style="color: rgb(2, 9, 113);">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#education" style="color: rgb(2, 9, 113);">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills" style="color: rgb(2, 9, 113);">Skills</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#" style="color: rgb(2, 9, 113);">Expertise</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#" style="color: rgb(2, 9, 113);">Contact</a>
                </li> -->

            </ul>
        </div>
    </div>
</nav>

<app-home id="home"></app-home>

<app-experience id="experience"></app-experience>

<app-education id="education"></app-education>

<app-skills id="skills"></app-skills>