<div>
    <img src="home.jpg" class="img-fluid parent" alt="office">
    <div class="container text-center">
        <div class="row justify-content-md-center child1">
            <div class="col col-lg-4 profile-container" [@leftRight]="isOpen ? 'left' : 'right'">
                <img src="profile.png" class="img-fluid profile" alt="profile">
            </div>
            <div class="col col-lg-4 bg-color" [@rightLeft]="isOpen ? 'right' : 'left'">
                <span><strong style="font-size: 27px; font-weight: 200;">Casey Gann</strong></span>
                <br>
                <span><strong style="font-size: 16px; font-weight: 300;">Implementation Solutions
                        Engineer</strong></span>
                <br>
                <br>
                <span><strong style="font-size: 13px; font-weight: 400;">Phone:</strong></span>
                <br>
                <span style="font-size: 12px; font-weight: 300;">214-449-3918</span>
                <br>
                <span><strong style="font-size: 13px; font-weight: 400;">Email:</strong></span>
                <br>
                <span style="font-size: 12px; font-weight: 300;">casey&#64;gann1.com</span>
                <br>
                <span><strong style="font-size: 13px; font-weight: 400;">City / State:</strong></span>
                <br>
                <span style="font-size: 12px; font-weight: 300;">Dallas, TX</span>
            </div>
        </div>
    </div>
    <br style="padding-top: 300px;">
    <div class="text-center child2 bg-color">
        <div class="container" style="width: 30%;">
            <span style="font-size: 27px; font-weight: 200;">Hello, I'm Casey!</span>
            <br>
            <br>
            <span> I'm passionate about technology and love diving into programming
                languages to create
                innovative
                solutions. When I'm not immersed in the digital world, you can find me enjoying the great outdoors
                through fishing and camping.</span>
        </div>
    </div>

</div>

<!-- <div class="text-center bg-color" style="padding: 60px;">
    <div class="container" style="width: 30%;">
        <span style="font-size: 27px; font-weight: 200;">Hello, I'm Casey!</span>
        <br>
        <br>
        <span> I'm passionate about technology and love diving into programming languages to create
            innovative
            solutions. When I'm not immersed in the digital world, you can find me enjoying the great outdoors
            through fishing and camping.</span>
    </div>
</div> -->

<!-- <div class="text-center bg-color child3">Hello 2</div> -->